  <% unless @orders.empty? %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>订单号</th>
        <th>订单状态</th>
        <th>订单金额</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.order_id, order_path(order) %></td>
            <td><%= order.order_status %></td>
            <td><%= order.order_sum %></td>
            <td><%= link_to "删除", "#"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
      <h2>没有订单信息</h2>
  <% end %>
